h1, p {
  text-align: center;
  margin: 0 auto;
  background: rgba(1, 50, 32, 45%);
  padding: 20px; 
  font-size: 18px; 
  max-width: 555px;
  min-width: 400px;
  width:100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdVxQ0gxqDPiR3piwRrxNJ_cHVcBj3uCp1IL1Ps3sha51sm5OsOmWKqbfFNvlTZUlZPVM&usqp=CAU);
  background-size: cover;
  color: #f5f5f5; 
  font-size: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0; 
  padding: 0; 
}

#title {
  text-align: center; 
  font-size: 20px; 
  color: #f8f8f8; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#description{
  text-align: center; 
  font-size: 16px;
  color: #eaeaea;
}

form {
  background: rgba(1, 50, 32, 45%);
  padding: 20px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  border-top: solid;
  border-width: 3px;
  max-width: 555px;
  min-width: 400px;
}

input, select, textarea{
  padding: 5px; 
  width: 100%;
  border-radius: 8px;
  border: 2px solid #eaeaea;
  background-color: rgba(255, 255, 255, 0.1);
  color: #f8f8f8; 
  font-size: 1rem; 
  margin-bottom: 20px;
  text-align: center;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input {
  background-color: rgba(1, 50, 32, 45%);
  border: 1px solid white;
}

input[type="text"], input[type="email"], input[type="number"], textarea{
  color: white; 
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, select:focus{
  border-color: #eaeaea;
  background-color: rgba(255, 255, 255, 0.6);
}

input[type="radio"], input[type="checkbox"]{
  margin-right: 10px; 
  accent-color: #7a1f38;
}

label {
  margin: 15px 0 5px; 
  color:#f8f8f8;
  display: block;
  font-size: 1rem;

}

fieldset {
  border: none; 
  padding: 20px;
  margin-bottom: 5px;

}

legend {
  text-align: center;
  font-size: 1.2rem; 
  color: #f8f8f8;
  font-weight: bold;
  padding: 8px 15px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Montserrat Alternates', sans-serif;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

textarea {
  resize: vertical; 
  height: 150px; 
  border-color: rgba(255, 255, 255, 100%);
  margin-top:10px;
  border-radius: 10px;
  border: 2px solid #4f5d52;
  background-color: rgba(1, 50, 32, 0.85);
  transition: all 0.3s ease;
  
}

input[type="submit"] {
  background-color: #7a1f38;
  color: #f8f8f8; 
  border: none; 
  border-radius: 10px; 
  font-size: 1.1rem; 
  padding: 12px 30px; 
  width: 100%; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

intput[type="submit"]:hover{
  background-color: #eaeaea;
  color: #7a1f38;
}

@media (max-width: 768px) {
  #title {
    max-width: 90%;
    font-size: 2.5rem;
  }

  #description{
    font-size: 1rem;
    max-width: 90%;
  }

  form {
    padding: 20px;
    margin: 0 10px;
    max-width: 100%;

  }

  input[type="submit"] {
    width: 100%;
  }
  
}